<!-- Generate markdown files for rides -->
{{ with resources.GetRemote "https://script.google.com/macros/s/AKfycbwNhPutE3hM1QeAL04g5SBe-MbxcO5q9cBYqfNe-ZQMZYQapquGQejegXNVXGlqfPZL/exec?path=rides" }}

  {{ $bikes := unmarshal .Content }}
  {{ range $bikes }}
    <!-- Create the JSON version of our Ride -->
    {{ $string := jsonify . }} 
    
    <!-- Create its filename by urlizing its title and using printf to include a directory -->
    {{ $filename := printf "ride/%s.md" (urlize .id) }} 
    
    <!-- Generate the markdown resource using resources.FromString -->
     {{ $resource := resources.FromString $filename $string }} 
    
    <!--Make sure it’s published */ -->
    {{ $file := $resource.RelPermalink }} 
  {{ end }}
{{ end }}

<!-- Generate markdown file for stats -->
{{ with resources.GetRemote "https://script.google.com/macros/s/AKfycbwNhPutE3hM1QeAL04g5SBe-MbxcO5q9cBYqfNe-ZQMZYQapquGQejegXNVXGlqfPZL/exec?path=stats" }}
  {{ $stats := unmarshal .Content }}
  {{ range $stats }}
    <!-- Create the JSON version of our stats - there is only one row -->
    {{ $string := jsonify . }} 
    
    <!-- Create a file for the stats section - always _index.md and using printf to include a directory -->
    {{ $filename := printf "stats/_index.md" }} 
    
    <!-- Generate the markdown resource using resources.FromString -->
     {{ $resource := resources.FromString $filename $string }} 
    
    <!--Make sure it’s published */ -->
    {{ $file := $resource.RelPermalink }} 
  {{ end }}
{{ end }}