<footer>
    <div>
      In any site theme, Social Media Icons usually go here - but since I don't really do social media we can skip this. You can get hold of me by taking
      a look at the <a href="/contact/">contact page</a>.
      <p>
      &copy; 2000-2024 Martyn J Shiner.
      <a href="https://creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution">Some rights reserved</a>;
      please attribute properly and link back. <img src="https://licensebuttons.net/l/by/4.0/88x31.png"> 
      </p>
    </div>
</footer>