<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- missing css -->
    <link rel="stylesheet" href="https://unpkg.com/missing.css@latest/dist/missing.min.css">

    <!-- Custom styles for this template  -->
    <link rel="stylesheet" href="/css/rrty.css" >

    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    
    <!-- alpine.js 
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.0/dist/cdn.min.js"></script>
    -->
    <title>{{ .Title }}</title>
</head>