{{ define "main" }}

  <!-- We need some extra stuff here to remove the underscore in the event_type-->
  {{ $dataTitle := replace .Data.Plural "_" " " }}
  <h1>{{ .Title }}</h1>

  <!-- Go back to sheet and get some info about the bike-->    
  {{ $data := "" }}  
  {{ with resources.GetRemote "https://script.google.com/macros/s/AKfycbw0dxiZkhWorItBjRT-h_oUFL661RLsbMddN6smSjWt4pkV28NwnalGq7X1mRovcAkT/exec?path=bikes" }}
    {{ $data = . | transform.Unmarshal }}
  {{ end }}

  {{ range where $data "Bike_Name" .Data.Term }}
    <p>{{ .Information|markdownify }}</p>
    <p>Frame Material - {{ .Frame_Material }}</p>
  {{ end }}
    
  <h3>Rides for this {{ strings.FirstUpper $dataTitle }}</h3>
  <hr>

  {{- $sortedPages := .Pages.ByParam "Ride_Date" }}
  {{ $paginator := .Paginate $sortedPages}}

  {{- range $index, $paginator.Pages }}
    <p>
      <a href="{{ .RelPermalink }}"><strong>{{ .Params.Ride_Name }}</strong></a>
      -
      {{ time.Format "2 January 2006" .Params.Ride_Date }}
    </p>
  {{ end }}

  {{ template "_internal/pagination.html" . }}  
  <hr>
  <p>Go back to <a href="/{{ .Data.Plural }}">{{ strings.FirstUpper $dataTitle }} list</a>.</p>

{{ end }}